body{
    background-color:cadetblue;
    /* display: flex; */
}

.heading1 {
     /* text-aign: center; */
    font-size: xx-large;
    border:10px solid;
    
    display: flex;
    justify-content: center;
    /* width: 50%; */
}

.foto{
    /* text-align: center; */
    padding:50px;
    display: flex;
    justify-content: center;
}
.pic1 {
    height: 600px;
    text-align: center;
    align-content: center;
    align-items: center;
}
.div1 {
    
}